/* You can add global styles to this file, and also import other style files */
@import "app/hamburgers";
@import "../node_modules/bootstrap/scss/bootstrap";
@import 'assets/scss/prism';

// variables
$color_select: rgb(118, 164, 237);

$general_transition: background 0.4s ease-in-out, color 0.4s ease-in-out;

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

body {
    overflow: hidden;
    height: 100vh;
}

.height-100 {
    height: 100%;
}

.padding-side-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-left-0 {
    padding-left: 0;
}



.border-right {
    border-right: 1px solid #ddd;
}

.border-right--thick {
    border-right: 5px solid #ccc;
}

.border-left--thick {
  border-left: 5px solid #ccc;
}


.background-dark-gray {
    background: #ccc;
}

button {
    cursor: pointer;
    outline: 0 !important;
    background: none;
    border: none;
}

button:not(.nodefault) {
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 23px;
    margin: 0 10px;
    cursor: pointer;
    outline: 0 !important;
    &:hover:not(.hamburger), &[disabled] {
        background: #666;
    }
}

a {
  text-decoration: none;
  &:hover {
      text-decoration: none;
  }
}


//select2
.select2-container {
    width: 100% !important;
    top: -3px;
}

.select2-selection {
    outline: 0 !important;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
}

.top_header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ddd;
    background: #eee;
    align-items: center;
    height: 61px;
    position: relative;
}

// settings
.setting__input_wrapper {
    td {
        padding-bottom: 10px;
        &:first-child {
            text-align: right;
        }
        &:last-child {
            width: 100%;
        }
    }
    label {
        padding-right: 15px;
        font-weight: bold;
        white-space: nowrap;
        margin: 0;
    }
    input {
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 1px 10px;
        width: 100%;
    }
    .btn__save {
        font-size: 15px;
        padding: 4px 10px;
        margin: 0;
        float: right;
    }
    .btn__info {
        border-radius: 50%;
        position: absolute;
        width: 29px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 29px 0;
        font-weight: bold;
        font-size: 21px;
        top: 0;
        right: 0;
        margin: 0;
    }
    .input__with_info {
        width: calc(100% - 40px);
    }
}

#securityInfoModal {
    .modal-body {
        font-size: 13px;
    }
}

[disabled] {
  cursor: not-allowed !important;
}

.icon-copy {
    cursor: pointer;
    position: relative;
    padding: 0 5px;
    font-size: 16px !important;
    div {
        position: absolute;
        top: -1000px;
        left: 50%;
        background: black;
        color: white;
        height: 22px;
        padding: 1px 3px;
        border-radius: 5px;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 400ms ease-in-out, top 0ms 400ms ease-in-out;
        cursor: default;
        &.active {
            top: calc(100% + 5px);
            opacity: 1;
            transition: opacity 400ms ease-in-out, top 0ms ease-in-out;
        }
    }
}

// flexbox
.flex {
    display: flex;
}

.flex--vertical {
    display: flex;
    flex-direction: column;
}


.relative {
    position: relative;
}

.full-width {
    width: 100% !important;
}
